<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My API</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.js"
      integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
      crossorigin="anonymous"></script>
 
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/homepageStyles.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Personal API</h1>
            <ul>
              <li><a href="/api/">API Docs</a></li>
              <li><a href="/api/profile">Who I am</a></li>
              <li><a href="/api/workhistory">Work history</a></li>
            </ul>

            <button class="redirect"><a href="/workhistory">Add a new item</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
