<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- APPLICATION SCRIPTS -->
    <!-- <script src="/scripts/app.js"></script> -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Campsites</h1>
            <ul>
              <li><a href="/api/">API Docs</a></li>
              <li><a href="/api/profile">Who I am</a></li>
              <li><a href="/api/workhistory">Work history</a></li>
            </ul>
        </div>
      </div>



        <div id="results" class="work-results"></div>
    </div>
  </body>
</html>
