<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My API</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">


    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/workhistory.css">

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">

        <form id="workForm" class="work-form">
          <input type="text" id="workName" name="name" placeholder="Title" />
          <input type="text" id="workType" name="type" placeholder="Type" />
          <input type="submit" value="Submit" />
        </form>

        <div id="results" class="work-results"></div>
    </div>
  </body>
</html>
