body {
  font-family: 'PT Sans Narrow', sans-serif;
}

/* TITLE */

h1 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 50px;
}

/* LIST OPTIONS */
li {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: gray;
}

.redirect {
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 10px;
  font-size: 15px;
  border-radius: 5%;
}