body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

/* FORM STYLING */

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

input {
  padding: 8px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  border-radius: 5%;
}

input[type="submit"] {
  width: 40%;
  margin: 0 auto;
}

/* TEXT SHOWING WORK HISTORY*/
.work-results {
  margin: 0 auto;
  text-align: center;
}

/* EDIT/DELETE BUTTONS*/

small {
  font-size: 15px;
}

small:hover {
  cursor: pointer;
}